<p id="notice"><%= notice %></p>

<p>
  <strong>Express:</strong>
  <%= @shipping.express %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @shipping.standard %>
</p>

<%= link_to 'Edit', edit_shipping_path(@shipping) %> |
<%= link_to 'Back', shippings_path %>
