<p id="notice"><%= notice %></p>

<h1>Subscrptions</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Credit card number</th>
      <th>Cvv</th>
      <th>Expiration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscrptions.each do |subscrption| %>
      <tr>
        <td><%= subscrption.email %></td>
        <td><%= subscrption.credit_card_number %></td>
        <td><%= subscrption.cvv %></td>
        <td><%= subscrption.expiration %></td>
        <td><%= link_to 'Show', subscrption %></td>
        <td><%= link_to 'Edit', edit_subscrption_path(subscrption) %></td>
        <td><%= link_to 'Destroy', subscrption, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscrption', new_subscrption_path %>
<% @plans.each do |plan| %>
  <%= link_to "#{plan.name} (#{plan.price})",
        new_subscription_path(@plan) %>
<% end %>