<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @subscrption.email %>
</p>

<p>
  <strong>Credit card number:</strong>
  <%= @subscrption.card_number %>
</p>

<p>
  <strong>Cvv:</strong>
  <%= @subscrption.cvv %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @subscrption.expiration %>
</p>

<%= link_to 'Edit', edit_subscrption_path(@subscrption) %> |
<%= link_to 'Back', subscrptions_path %>
