<div class="container-fluid">
<div class="main-section">
	<ul class="hidden-xs sort-list list-inline text-center">
		<li class=""><%= link_to "Snapbacks", home_custom_snapback_path %></li>
		<li class="active"><%= link_to "Fitted Hats", home_custom_fitted_hat_path %></li>
		<li class=""><%= link_to "Dad Hats", home_custom_dad_hat_path %></li>
		<li class=""><%= link_to "Camo Hats", home_custom_camo_hat_path %></li>
		<li class=""><%= link_to "Beanies", home_custom_beanies_path %></li>
		<li class=""><%= link_to "5 Panel Hats", home_custom_panel_hat_path %></li>
		<li class=""><%= link_to "Trucker Hats", home_custom_trucker_hat_path %></li>
		<li class=""><%= link_to "Bucket Hats", home_custom_bucket_hat_path %></li>
		<li class=""><%= link_to "Athletic Hats", home_custom_athletic_hat_path %></li>
		<li class=""><%= link_to "Golf Hats", home_custom_golf_hat_path %></li>
		<li class=""><%= link_to "Military Hats", home_custom_military_hat_path %></li>
	</ul>
	<header class="heading text-center">
	<h1>Design your own Custom Fitted Hats</h1>
	</header>
<div class="row mb20">
	<ul class="products-list list-unstyled text-center">
		<%# @custom_fitted_hats.each do |custom_fitted_hat| %> 
						<li class="col-sm-4">
							<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_1">
								<a href="/products/flat-bill-snapback-new-era?taxon_id=7">
									<picture>
										<a alt="Flat bill snapback cap - New Era 9Fifty - New Era NE400 - CapBeast" class="img-responsive" itemprop="url">
										    <a href="/custom_fitted_hats/<%#= custom_fitted_hat.id %>"><%#= image_tag custom_fitted_hat.image.url, class: "img-responsive", id: "theImage" %>
											</a>
										</a>
									</picture>
								</a>
							</div>
							<ul class="set-color list-inline">
								</li>
									<li>
										<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #747D7D 0%, #747D7D 100%);"></a>
							
									</li>
								</li>
									<li>
									<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #15125C 0%, #15125C 100%);"></a>
									<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/191992/product/IMG_0128.jpg?1475692723"></div>
									</li>
									<li>
									<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #030303  0%, #030303  50%,  #1F5919  50%,  #1F5919  100%);"></a>
									<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/261065/product/FLAT_BILL_9FIFTY_SNAPBACK__NEW_ERA_CAMO_-_Front_View.jpg?1485186371"></div>
									</li>
								</li>
									<li>
									<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #D6C994 0%, #D6C994 100%);"></a>
									<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/722/product/IMG_0139.jpg?1412110055"></div>
									</li>
									<li>
									<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000  0%, #000000  50%,  #030303 50%,  #030303 100%);"></a>
									<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/191987/product/IMG_0131.jpg?1475692677"></div>
									</li>
							</ul>
							<strong class="title"><a href="/custom_fitted_hats/<%#= custom_fitted_hat.id %>" itemprop="name" title="Flat bill 9Fifty snapback | New Era"><%#= custom_fitted_hat.title %></a></strong>
							<strong class="price">$<%#= custom_fitted_hat.price %></strong>
						</li>
					<%# end %>
</ul>
<div class="row">
<div class="col-sm-2 col-sm-offset-5 text-center">
</div>
</div>
</div>
<div class="row">
<ul class="products-list list-unstyled text-center">
<li class="col-sm-4">
<div class="img-holder sub-categories" itemscope itemtype="http://schema.org/Product" id="category_35">
<a href=/custom-hats/custom-fitted-hats/custom-new-era-fitted-hats>
<picture>
<a href="/custom-hats/custom-fitted-hats/custom-new-era-fitted-hats" itemprop="url"><img alt="New era fitted hats" class="img-responsive" data-src="https://uploads.capbeast.com/spree/taxons/35/exact/new-era-fitted-hats.jpg?1429180862" itemprop="image" src="https://uploads.capbeast.com/spree/taxons/35/exact/new-era-fitted-hats.jpg?1429180862" /></a>
</picture>
</a>
</div>
<div class="title">
<a title="Sample Cap" itemprop="name" href=/custom-hats/custom-fitted-hats/custom-new-era-fitted-hats class="info product-name text-center">Custom New Era Fitted Hats</a>
</div>
</li>
<li class="col-sm-4">
<div class="img-holder sub-categories" itemscope itemtype="http://schema.org/Product" id="category_38">
<a href=/custom-hats/custom-fitted-hats/custom-flexfit-fitted-hats>
<picture>
<a href="/custom-hats/custom-fitted-hats/custom-flexfit-fitted-hats" itemprop="url"><img alt="Flexfit fitted hats" class="img-responsive" data-src="https://uploads.capbeast.com/spree/taxons/38/exact/flexfit-fitted-hats.jpg?1429180863" itemprop="image" src="https://uploads.capbeast.com/spree/taxons/38/exact/flexfit-fitted-hats.jpg?1429180863" /></a>
</picture>
</a>
</div>
<div class="title">
<a title="Sample Cap" itemprop="name" href=/custom-hats/custom-fitted-hats/custom-flexfit-fitted-hats class="info product-name text-center">Custom Flexfit Fitted Hats</a>
</div>
</li>
</ul>
</div>
<div class="row mb20">
<div class="col-sm-12">
<p class=""><p>Let&rsquo;s take it all the way back to the 1920s and talk about the start of the custom fitted. Way before its adjustable brother and sisters hit the scene in the 1940s, the fitted was New Era&rsquo;s first pride and joy. Although it never quite turned out to be the pop culture giant the snapback is; the 59Fifty has still made waves around the world with it&rsquo;s unique take on the original baseball cap. Nicknamed &lsquo;The Brooklyn Style Cap&rsquo;, the fitted is the cap of choice for sports enthusiasts globally.</p>
<p>&ldquo;<em><strong>Where every fitted hat mean a different hood, make it out and they still want you in the hood&rdquo; &ndash;&nbsp;</strong></em><strong>Nipsey Hu$$le</strong></p>
<p>The basic and most obvious difference between the fitted and the other types of custom hats available on the market is the lack of closure mechanic at the back. Because of this, the fitted uniquely lends its self to more fully customizable style of fashion garment. If you&rsquo;re looking to truly design a bespoke custom baseball hat from the peak to the back then this is the piece for you.</p>
<p>&ldquo;<em><strong>Old to the new, no school holds the hat, custom tailor fitted, head stay the same size&rdquo; -&nbsp;</strong></em><strong>MF Doom</strong></p>
<p>Not only does the fitted hats design lend its self to some ridiculously dope style choices, it&rsquo;s also the most comfortable hat on the market by a long shot. If you&rsquo;re looking for a cap with style and practicality, you can&rsquo;t beat a good 59Fifty or FlexiFit that will rest snuggly on your head whatever the size. Due to its unique elasticity material, you won&rsquo;t ever have to worry about adjusting uncomfortable closures. Your head and a custom fitted are truly meant to be together. So why don&rsquo;t you make it official? Pick up a New Era 59Fifty, Yupoong or FlexiFit from CapBeast today. Then christen your brand new dome piece with our ridiculously easy to use online cap customizer. Make that cap yours and no one else&rsquo;s, baby.</p>
</p>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
<ul class="sort-list list-inline text-center" style="margin-top:0px">
<li><a href="/custom-hats/custom-fitted-hats/custom-new-era-fitted-hats"> New Era Fitted Hats </a></li>
<li><a href="/custom-hats/custom-fitted-hats/custom-flexfit-fitted-hats"> Flexfit Fitted Hats </a></li>
</ul>
</div>
</div>
</div> 
</div> 
