<div class="container"> 
 	<div class="container-fluid">
		<div class="main-section">
			<ul class="hidden-xs sort-list list-inline text-center">
				<li class="active"><%= link_to "Snapbacks", home_custom_snapback_path %></li>
				<li class=""><%= link_to "Fitted Hats", home_custom_fitted_hat_path %></li>
				<li class=""><%= link_to "Dad Hats", home_custom_dad_hat_path %></li>
				<li class=""><%= link_to "Camo Hats", home_custom_camo_hat_path %></li>
				<li class=""><%= link_to "Beanies", home_custom_beanies_path %></li>
				<li class=""><%= link_to "5 Panel Hats", home_custom_panel_hat_path %></li>
				<li class=""><%= link_to "Trucker Hats", home_custom_trucker_hat_path %></li>
				<li class=""><%= link_to "Bucket Hats", home_custom_bucket_hat_path %></li>
				<li class=""><%= link_to "Athletic Hats", home_custom_athletic_hat_path %></li>
				<li class=""><%= link_to "Golf Hats", home_custom_golf_hat_path %></li>
				<li class=""><%= link_to "Military Hats", home_custom_military_hat_path %></li>
			</ul>
			<header class="heading text-center">
			<h1>Design your own Custom Snapbacks</h1>
			</header>
			<div class="row mb20">
				<ul class="products-list list-unstyled text-center">
					<%# @custom_snapbacks.each do |custom_snapback| %> 
						<li class="col-sm-4">
							<div class="img-holder" itemscope itemtype="http://schema.org/Product" id="product_1">
								<a href="/products/flat-bill-snapback-new-era?taxon_id=7">
									<picture>
										<a alt="Flat bill snapback cap - New Era 9Fifty - New Era NE400 - CapBeast" class="img-responsive" itemprop="url">
										    <a href="/custom_snapbacks/<%#= custom_snapback.id %>"><%#= image_tag custom_snapback.image.url, class: "img-responsive", id: "theImage" %>
											</a>
										</a>
									</picture>
								</a>
							</div>
							<ul class="set-color list-inline">
								</li>
									<li>
										<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #747D7D 0%, #747D7D 100%);"></a>
							
									</li>
								</li>
									<li>
									<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #15125C 0%, #15125C 100%);"></a>
									<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/191992/product/IMG_0128.jpg?1475692723"></div>
									</li>
									<li>
									<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #030303  0%, #030303  50%,  #1F5919  50%,  #1F5919  100%);"></a>
									<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/261065/product/FLAT_BILL_9FIFTY_SNAPBACK__NEW_ERA_CAMO_-_Front_View.jpg?1485186371"></div>
									</li>
								</li>
									<li>
									<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #D6C994 0%, #D6C994 100%);"></a>
									<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/722/product/IMG_0139.jpg?1412110055"></div>
									</li>
									<li>
									<a href="#" class="change_product_image" style="background: linear-gradient(to bottom, #000000  0%, #000000  50%,  #030303 50%,  #030303 100%);"></a>
									<div class="variant_source hide" id="https://uploads.capbeast.com/spree/products/191987/product/IMG_0131.jpg?1475692677"></div>
									</li>
							</ul>
							<strong class="title"><a href="/custom_snapbacks/<%#= custom_snapback.id %>" itemprop="name" title="Flat bill 9Fifty snapback | New Era"><%#= custom_snapback.title %></a></strong>
							<strong class="price">$<%#= custom_snapback.price %></strong>
						</li>
					<%# end %>
				</ul>
				<div class="row">
					<div class="col-sm-2 col-sm-offset-5 text-center">
						<nav class="pagination_override">
							<span class="page current">
							1
							</span>
							<span class="page">
							<a href="/custom-hats/custom-snapbacks?page=2" rel="next">2</a>
							</span>
							<span class="next">
							<a href="/custom-hats/custom-snapbacks?page=2" rel="next">Next &rsaquo;</a>
							</span>
						</nav>
					</div>
				</div>
			</div>
			<div class="row">
				<ul class="products-list list-unstyled text-center">
					<li class="col-sm-4">
						<div class="img-holder sub-categories" itemscope itemtype="http://schema.org/Product" id="category_23">
							<a href=/custom-hats/custom-snapbacks/custom-new-era-snapbacks>
								<picture>
								<a href="/custom-hats/custom-snapbacks/custom-new-era-snapbacks" itemprop="url"><img alt="Blank snapback hats sku 12 1462" class="img-responsive" data-src="https://uploads.capbeast.com/spree/taxons/23/exact/Blank_Snapback_Hats_Sku-12_1462.jpg?1429180848" itemprop="image" src="https://uploads.capbeast.com/spree/taxons/23/exact/Blank_Snapback_Hats_Sku-12_1462.jpg?1429180848" /></a>
								</picture>
							</a>
						</div>
						<div class="title">
							<a title="Sample Cap" itemprop="name" href=/custom-hats/custom-snapbacks/custom-new-era-snapbacks class="info product-name text-center">Custom New Era Snapbacks</a>
						</div>
					</li>
					<li class="col-sm-4">
						<div class="img-holder sub-categories" itemscope itemtype="http://schema.org/Product" id="category_27">
							<a href=/custom-hats/custom-snapbacks/custom-flexfit-snapbacks>
								<picture>
								<a href="/custom-hats/custom-snapbacks/custom-flexfit-snapbacks" itemprop="url"><img alt="Ff110f" class="img-responsive" data-src="https://uploads.capbeast.com/spree/taxons/27/exact/FF110F.jpg?1429180853" itemprop="image" src="https://uploads.capbeast.com/spree/taxons/27/exact/FF110F.jpg?1429180853" /></a>
								</picture>
							</a>
						</div>
						<div class="title">
							<a title="Sample Cap" itemprop="name" href=/custom-hats/custom-snapbacks/custom-flexfit-snapbacks class="info product-name text-center">Custom Flexfit Snapbacks</a>
						</div>
					</li>
					<li class="col-sm-4">
						<div class="img-holder sub-categories" itemscope itemtype="http://schema.org/Product" id="category_24">
							<a href=/custom-hats/custom-snapbacks/custom-yupoong-snapbacks>
								<picture>
								<a href="/custom-hats/custom-snapbacks/custom-yupoong-snapbacks" itemprop="url"><img alt="Yu6089m." class="img-responsive" data-src="https://uploads.capbeast.com/spree/taxons/24/exact/YU6089M..jpg?1429180849" itemprop="image" src="https://uploads.capbeast.com/spree/taxons/24/exact/YU6089M..jpg?1429180849" /></a>
								</picture>
							</a>
						</div>
						<div class="title">
							<a title="Sample Cap" itemprop="name" href=/custom-hats/custom-snapbacks/custom-yupoong-snapbacks class="info product-name text-center">Custom Yupoong Snapbacks</a>
						</div>
					</li>
					<li class="col-sm-4">
						<div class="img-holder sub-categories" itemscope itemtype="http://schema.org/Product" id="category_25">
							<a href=/custom-hats/custom-snapbacks/custom-flat-bill-snapbacks>
								<picture>
								<a href="/custom-hats/custom-snapbacks/custom-flat-bill-snapbacks" itemprop="url"><img alt="Flat bill snapbacks" class="img-responsive" data-src="https://uploads.capbeast.com/spree/taxons/25/exact/flat-bill-snapbacks.jpg?1429180850" itemprop="image" src="https://uploads.capbeast.com/spree/taxons/25/exact/flat-bill-snapbacks.jpg?1429180850" /></a>
								</picture>
							</a>
						</div>
						<div class="title">
							<a title="Sample Cap" itemprop="name" href=/custom-hats/custom-snapbacks/custom-flat-bill-snapbacks class="info product-name text-center">Custom Flat Bill Snapbacks</a>
						</div>
					</li>
					<li class="col-sm-4">
						<div class="img-holder sub-categories" itemscope itemtype="http://schema.org/Product" id="category_26">
							<a href=/custom-hats/custom-snapbacks/custom-embroidered-snapbacks>
								<picture>
									<a href="/custom-hats/custom-snapbacks/custom-embroidered-snapbacks" itemprop="url"><img alt="Embroidered snapbacks" class="img-responsive" data-src="https://uploads.capbeast.com/spree/taxons/26/exact/embroidered-snapbacks.jpg?1429180851" itemprop="image" src="https://uploads.capbeast.com/spree/taxons/26/exact/embroidered-snapbacks.jpg?1429180851" /></a>
								</picture>
							</a>
						</div>
						<div class="title">
							<a title="Sample Cap" itemprop="name" href=/custom-hats/custom-snapbacks/custom-embroidered-snapbacks class="info product-name text-center">Custom Embroidered Snapbacks</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="row mb20">
				<div class="col-sm-12">
				<p class=""><p>Customization is at the very heart of snapback culture. The slight tweak of a caps brim from curved to flat is exactly what gave birth to what we know as the snapback today. Custom snapbacks were a natural progression from the products origins; these garments were born out of a desire to tweak and re-design. It is exactly that philosophy they thrive on in the modern fashion world.</p>
				<p>&ldquo;<em><strong>Reminiscing when the LA Raiders were in my home, snapback fitted on my uncles dome&rdquo; - Kendrick Lamar&nbsp;</strong></em></p>
				<p>The snapback is a truly iconic fashion garment. What began as a simple accessory to baseball athletes that allowed them keep the sun out of their eyes, has now become a unique and widely worn piece of fashion history around the world. Although the snapback hat&#39;s roots trace all the way back to the 1860s, it wasn&rsquo;t until the 1990s that the term &lsquo;snapback&rsquo; was coined and began to really enter into our pop culture lexicon.</p>
				<p>&nbsp;</p>
				<p>&ldquo;<em><strong>You love that little bit of new, now throwback, Cleveland City snakeskin snapback&rdquo; - Kid Cudi&nbsp;</strong></em></p>
				<p>&nbsp;</p>
				<p>Whether you&rsquo;re looking to rock a custom New Era hat, Flexfit or Yupoong, CapBeast has you covered no matter what. The custom snapback culture thrives on nostalgia and bespoke design; we provide you the blank canvas so you can let your personal style go to work. If you&rsquo;re stuck for inspiration and need a kick start to your imagination then head over to our online customizer for caps and hats. You can easily create your own throwback styles by uploading an image or just adding lettering from our bank of crazy dope fonts. So what are you waiting for? Click here to get started and create your very own personalised custom snapback today.</p>
				<p>&nbsp;</p>
				</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
					<ul class="sort-list list-inline text-center" style="margin-top:0px">
						<li><a href="/custom-hats/custom-snapbacks/custom-new-era-snapbacks"> New Era Snapbacks </a></li>
						<li><a href="/custom-hats/custom-snapbacks/custom-flexfit-snapbacks"> Flexfit Snapbacks </a></li>
						<li><a href="/custom-hats/custom-snapbacks/custom-yupoong-snapbacks"> Yupoong Snapbacks </a></li>
						<li><a href="/custom-hats/custom-snapbacks/custom-flat-bill-snapbacks"> Flat Bill Snapbacks </a></li>
						 <li><a href="/custom-hats/custom-snapbacks/custom-embroidered-snapbacks"> Embroidered Snapbacks </a></li>
					</ul>
				</div>
			</div>
		</div> 
	</div> 
</div>