<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
    <h2>CHECKOUT</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

      <ul class="nav nav-pills  nav-justified">
      <li class="btn-checkout">
      <a href="http://localhost:3000/home/checkout" class="btn btn-default btn-checkout">Address</a>
      </li>
      <li class="">
      <a href="http://localhost:3000/home/checkout_shipping" class="btn btn-default btn-checkout">Shipping Method</a>
      </li>
      <li class="btn-checkout">
      <a href="#" class="btn btn-default">Payment &amp; Confirm</a>
      </li>
      </ul><br />
      <h4>Pay With</h4>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <h4 style="display: inline">Credit Card</h4>
          <%= render 'charges/new' %>
        </div>
        <div class="col-md-6">
          <h4 style="display: inline">Paypal Account</h4>
          <!-- <a href= "https://www.paypal.com/webscr?cmd=_express-checkout&token=EC-4KR9929436625521H&useraction=commit"><%#= image_tag 'paypal.png', class: "checkout" %></a> -->
              <%= link_to "Checkout", OrderItem.paypal_url(orders_url), class: "btn btn-warning" %>
         </div>
      </div>
      <div class="col-sm-8 col-md-9">
          <h3>ORDER SUMMERY</h3>
          <table class="cart-table table">
            <thead>
              <tr>
                <th class="col-photo">ITEM</th>
                <th class="col-name"></th>
                <th class="col-unit-price">UNIT PRICE</th><br>
                <th class="col-qty">QTY</th>
                <th class="col-price">Total</th>
                <th class="col-actions"></th>
              </tr>
            </thead>
            <tbody>

              <% if user_signed_in? %>
              <%# debugger %>
                <% current_user.orders.each do |order| %>
                  <% order.order_items.each do |item| %>
                    <tr>
                      <td class="col-photo" data-th="Image">
                        <%= image_tag item.product.images.first.image.url, class: "img-responsive thumbnail", width: "90", height: "90"%>
                        <img id="output" class="centered" />
                        <div class="centered myText" id="edit">



                        </div>
                      </td>
                      <td class="col-name" data-hook="cart_item_description">
                        <strong class="title"><%= item.product.title %></strong>
                      </td>
                      <td class="col-unit-price"><strong class="price">$<%= item.unit_price %></strong></td>
                      <td class="col-qty">
                        <%= item.quantity %>
                      </td>
                      <td class="col-price">
                        <%= item.total_price %>
                      </td>
                      <td class="col-actions">
                        <h4 style align="right"><%= link_to "X",order_path(order), method: :delete, class: "delete_line_item", data: { confirm: 'Are you sure?' } %></h4>
                        <a href="/products/<%= item.product.id %>" class= "icon-edit"></a>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% else %>
                <% @orders.each do |order| %>
                  <% order.order_items.each do |item| %>
                    <tr>
                      <td class="col-photo" data-th="Image">
                        <%= image_tag item.product.images.first.image.url, class: "img-responsive thumbnail", width: "90", height: "90" %>
                        <img id="output" class="centered" />
                        <div class="centered myText" id="edit">



                        </div>
                      </td>
                      <td class="col-name" data-hook="cart_item_description">
                        <strong class="title"><%= item.product.title %></strong>
                      </td>
                      <td class="col-unit-price"><strong class="price">$<%= item.unit_price %></strong></td>
                      <td class="col-qty">
                        <%= item.quantity %>
                      </td>
                      <td class="col-price">
                        <%= item.total_price %>
                      </td>
                      <td class="col-actions">
                        <h4 style align="right"><%= link_to "X",order_path(order), method: :delete, class: "delete_line_item", data: { confirm: 'Are you sure?' } %></h4>
                        <a href="/products/<%= item.product.id %>" class= "icon-edit"></a>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="widget-block">
        <strong class="title">ORDER SUMMARY</strong>
        <dl class="summary">
        <dt>Subtotal</dt>
        <dd><%= number_to_currency current_order.subtotal %></dd>
        <dt>Shipping Total: </dt>
        <dd>
          <% @shippings.each do |shipping| %>
            <%= shipping.express %>
            <%= shipping.standard %>
          <% end %>
        </dd>
        <dt>Total items:</dt>
        <dd><strong><%= current_order.order_items.size %></strong></dd>
        <dt><strong>Order Total</strong></dt>
        <dd><strong><%= number_to_currency current_order.subtotal %></strong></dd>
        </dl>
      </div>
      <div class="widget-block">
        <strong class="title">APPLY DISCOUNT</strong>
        <form accept-charset="UTF-8" action="/orders/CB36121007/apply_coupon" class="discount-form" id="update-cart" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="YFYHhbtGQiROZYJwZklrSt/CV9WHW89pQjY459FOnJY=" /></div>
        <div class="form-group">
        <input type="text" name="order[coupon_code]" class="form-control" placeholder="code">
        <input type="hidden" name="order[state]" value="payment" class="form-control">
        </div>
        <input type="submit" value="Apply Coupon" class="btn btn-default">
        </form> 
      </div>
    </div>
  </div>
  <%= link_to "Shopping Continue", root_path, class: "btn btn-link", class: "btn btn-danger" %>
</div><br />
                       
