<div class="well">
  <div class="row">
    <div class="col-sm-8 col-md-9">
      <thead>
            <tr>
              <th class="col-photo">ITEM</th>
              <th class="col-name"></th>
              <th class="col-unit-price">UNIT PRICE</th><br>
              <th class="col-qty">QTY</th>
              <th class="col-price">Total</th>
              <th class="col-actions"></th>
            </tr>
          </thead>
          <tbody>
                <tr>
                  <td class="col-photo" data-th="Image">
                    <%= image_tag product.images.first.image.url, class: "img-responsive thumbnail", width: "90", height: "90"%>
                    <img id="output" class="centered" />
                    <div class="centered myText" id="edit">



                    </div>
                  </td>
                  <td class="col-name" data-hook="cart_item_description">
                    <strong class="title"><%= product.title %></strong>
                  </td>
                  <td class="col-unit-price"><strong class="price">$<%= order_item.unit_price %></strong></td>
                  <td class="col-qty">
                    <%= order_item.quantity%>
                  </td>
                  <td class="col-price">
                    <%= order_item.total_price%>
                  </td>
                  <td class="col-actions">
                    <h4 style align="right"><%#= link_to "X",order_path(order), method: :delete, class: "delete_line_item", data: { confirm: 'Are you sure?' } %></h4>
                    <a href="/products/<%= order_item.product.id %>" class= "icon-edit"></a>
                  </td>
                </tr>
          </tbody>
    </div>
  </div>
</div>
 