<footer id="footer" style="padding: 123px 0 19px;">
	<footer class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3">
				<%#= image_tag "capbeast-logo-new.png", width: "169px", height: "92px" %>
				</div>
				<div class="col-sm-3">
					<h4 style="font-size: 15px;">Information</h4>
					<ul class="list-unstyled">
						<li><%=link_to 'About Us', home_about_us_path %></li>
						<li><%=link_to 'Contact Us', home_contact_path %></li>
						<li><%=link_to 'Delivery Information', home_delivery_policy_path %></li>
						<li><%= link_to 'Privacy Policy', home_privarcy_policy_path %></li>
						<li><%= link_to 'Delivery', home_terms_of_delivery_path %></li>
						<li><%= link_to 'Returns', home_return_path %></li>
						<li><%= link_to 'Site Map'%></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h4 style="font-size: 15px;"><b>PRODUCT CATEGORIES</b></h4>
					<ul class="list-unstyled">
						<li>
							<% Category.all.each do |category| %>
								<ul class="list-unstyled">
								    <li><b>
										<%= link_to category.name, products_path(category: category.name) %>
									</b></li>
							    </ul>
							<% end %>
						</li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h4 style="font-size: 15px;"><b>NEWSLETTER</b></h4>
				 	<form accept-charset="UTF-8" action="https://capbeast.com/subscriptions" class="subscribe-form" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="6MHXe3guztMT3PSgqCz3dcEP0STM26HTxnJl7Hs6e54=" /></div>
					<p style="font-size: 11px;"><b>Sign up to our newsletter and receive free coupons and discount codes!</b></p>
					<fieldset>
					<input class="form-control" id="newsletter_email" name="email" placeholder="Email" type="text" />
					<button type="submit" id="newsletter_button" class="btn btn-opposite" style="min-width:20px;height:42px;"><i class="icon-arrow-right"></i></button>
					</fieldset>
					</form>

					<ul class="socials list-inline">
					<li style="font-size: xx-large;"><a href="https://www.facebook.com/capbeast"><i class="fa fa-facebook"></i></a></li>
					<li style="font-size: xx-large;"><a href="https://twitter.com/wearecapbeast"><i class="fa fa-twitter"></i></a></li>
					<li style="font-size: xx-large;"><a href="https://instagram.com/capbeast"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-9">

				<span class="copy">COPYRIGHT &copy; 2017 <a href="#">CAPBEAST</a> | ALL RIGHTS RESERVED</span>
				
				<div class="col-sm-3 text-right">
					<%= image_tag "paypal.jpg", class: "card" %></li>
				</div>
			</div>
		</div>
	</footer>
</footer>_